body {
  color: #000;
  background-color: #FFF;
  margin: 0 10px;
  font-size: 13pt;
  font-family: helvetica, sans-serif;
}

h1 {
  font-size: 24pt;
  margin-top: 5px;
}
h2 {
  font-size: 16pt;
}

a {
  color: #55F;
}

ul.menu, ul.menu ul, ul.vars, ul.vars ul {
  list-style-type: none;
}
ul.menu, ul.menu ul, ul.vars {
  padding: 0;
}
ul.menu > li {
  font-weight: bold;
  margin-bottom: 20px;
}
ul.menu > li > ul {
  font-weight: normal;
}

ul.notmenu > li {
  margin-bottom: 0.5em;
}

ul.vars > li {
  font-style: italic;
}
ul.vars > li > ul{
  font-style: normal;
}

hr {
  border: 0;
  height: 2px;
  background-color: grey;
  margin-top: 2em;
  margin-bottom: 0;
}

pre, tt, .tt {
  font-size: 13pt;
  font-family: monospace;
}

pre.declare {
  background-color: #EEE;
  padding: 4px;
  font-weight: bold;
}

.tiny {
  font-size: 12pt;
}
.r {
  color: red;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.cb {
  clear: both;
}
